div{
  /*border: 1px solid #000;*/
  height: 150px;
  margin: 15px 0px;
}
img{
  padding: 0px;
}
header{
  margin: 0;
}
#highmenu{
  height: 20px;
  margin: 0;
  padding: 0;
}
#slide{
  margin: 45px 0px;
  padding: 0px;
}
#size{
  height: 80px;
}
#fistlevel  {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#fistlevel p {
width: 22%;
background: #F4F4F1;
color:#A3A3A3;
border-radius: 3px;
text-align: center;
  margin: 0px 3px;
  padding: 3px;
}
#fistlevel p:hover{
  background: #4A4A4C;
  color: white;
}
